<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

<head>
  <!--<meta name="google-signin-scope" content="profile email">-->
  <!--<meta name="google-signin-client_id"-->
    <!--content="785654343098-9a5mghf8o8r5ntg74eeqg43bnts1noeh.apps.googleusercontent.com">-->
  <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

    <!-- BEGIN Pre-requisites -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <!-- END Pre-requisites -->
<!-- Continuing the <head> section -->
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: "785654343098-9a5mghf8o8r5ntg74eeqg43bnts1noeh.apps.googleusercontent.com",
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
</head>

<body>

  <button id="signinButton">Sign in with Google</button>
 <script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
<!-- Last part of BODY element in file index.html -->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      // Always include an `X-Requested-With` header in every AJAX request,
      // to protect against CSRF attacks.
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response.
      },
      processData: false,
      data: authResult['code']
    });
  } else {
    // There was an error.
  }
}
</script>

</body>

</html>